body {
  background: #000;
  color: white;
  font-family: Arial;
}

.auth, .hero, .panel {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button, .btn {
  background: #00bcd4;
  color: black;
  border: none;
  cursor: pointer;
}
